.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('https://media.istockphoto.com/photos/draft-beer-hand-comemoration-picture-id958287688?k=6&m=958287688&s=612x612&w=0&h=1oU82C6BgKLwxHVfXDMNTEY3R_IW6Itw8DNyl2bsUVA=')
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  height: 200px;
  width: 600px;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.row{
  display: flex; 
  flex-flow: row wrap;
  justify-content: space-around;
}

.submissionfield { 
  width: 90px; 
  height: 390px; 
  border: 1px solid #999999; 
  padding: 5px; 
}

.rootheader {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 10px;
  max-width: 700px;
}